body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color:  rgba(74, 72, 147, 0.71) !important;
  
}
.main-body {
    padding: 15px;
}
.card1 {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card1 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0px;
    padding: 30px 30px;

    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}
.card-item1{
    margin: 10px 0px;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

.card_edit {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
    margin-right: .5rem!important;
}

.tieude-font{
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}

.button-2 {
    background-color: cyan;
    border-radius: 5px;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    height: 50px;
    font-size: 1.4em;
    font-weight: 300;
    padding: 6px;
    text-decoration: none;
    width: 5em;
    z-index: 3;
}

.card-input{
    padding: 6px 12px 6px 12px;
    max-width: 500px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}

.card-div{
    justify-content: space-between;
    display: flex;
}