.form-signin .list{
  width: 200px;
  height: 600px;
}

.form-home {
  width: 80%;
  padding: 15px;
  margin: auto;
}
.form-change_pass {
  width: 80%;
  max-width: 600px;
  padding: 15px;
  margin: auto;
}
.form-lognin {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
  /* margin-top: 10%; */
}

.form-signin {
  width: auto;
  max-width: 600px;
  padding: 15px;
  margin: auto;
  /* margin-top: -50px; */
  /* margin-top: 10%; */
}


.form-admin {
  width: 100%;
  padding: 15px;
  margin: auto;
}

.form-profile {
  width: 40%;
  max-width: 600px;
  padding: 15px;
  margin: auto;
  /* margin-top: 200px; */
}


.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

