.vitriButon{
    text-align: right;
}
.SectionFont{
    text-align: left;
}
.sectionFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: auto;
    height: 80%; */
}
.iconSection{
    width: 25px;
    height: 25px;
    margin-right: 20px;
}
